.menu-bar{
    height: 100%;
    position: fixed;
    width: 200px;
    left: -200px;
    background-color: rgb(255, 244, 244);
    transition: left 0.4s ease;
}

.menu-bar.show{
    left: 0;
}

.links{
    user-select: none;
    list-style-type: none;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links li{
    line-height: 40px;
    border-bottom: 1px solid black;
}

.links li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    padding-left: 10px;
    display: block;
    border-left: 4px solid transparent;
}

.links li a:hover{
    border-left-color: rgb(202, 137, 52);
    color: rgb(202, 137, 52);
    background-color: rgb(231, 226, 226);
}

.menu-button{
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
    text-align: center;
    transition: left 0.4s ease;
    transition: top 0.4s ease;
}

.menu-button span{
    background-color: rgb(202, 137, 52);
    color: white;
    font-size: 30px;
    width: 40px;
}

.menu-button.click{
    left: 200px;
    top: 0px;
}

.menu-button.click span:before{
    content: 'x';
}